Repository TravelWithMeProject/GoWithMe_Server, pull requests merged in 2022-01, with the labels that each got.

#9 "공통 예외 처리 수정 예외 도메인 별로 처리 역할 분담 추가 + Entity VO 작업 완료"
  src/main/java/team/backend/goWithMe/domain/member/domain/persist/Member.java
  src/main/java/team/backend/goWithMe/domain/member/domain/persist/RoleType.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserEmail.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserName.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserNickName.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserPassword.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserProfileImage.java
  src/main/java/team/backend/goWithMe/domain/member/error/UserErrorCode.java
  src/main/java/team/backend/goWithMe/domain/member/error/exception/PasswordMissMatchException.java
  src/main/java/team/backend/goWithMe/domain/member/error/exception/PasswordNullException.java
  src/main/java/team/backend/goWithMe/domain/member/error/exception/UserBusinessException.java
  src/main/java/team/backend/goWithMe/domain/member/error/exception/UserErrorResponse.java
  src/main/java/team/backend/goWithMe/global/error/CommonErrorResponse.java
  src/main/java/team/backend/goWithMe/global/error/ErrorResponse.java
  src/main/java/team/backend/goWithMe/global/error/GlobalException.java
  src/main/java/team/backend/goWithMe/global/error/exception/BusinessException.java
  src/main/java/team/backend/goWithMe/global/error/exception/CommonErrorCode.java
  src/main/java/team/backend/goWithMe/global/error/exception/EntityNotFoundException.java
  src/main/java/team/backend/goWithMe/global/error/exception/ErrorCode.java
  src/main/java/team/backend/goWithMe/global/error/exception/InvalidValueException.java
  src/test/java/team/backend/goWithMe/domain/member/domain/persist/MemberTest.java
  src/test/java/team/backend/goWithMe/domain/member/domain/util/GivenMember.java
  src/test/java/team/backend/goWithMe/domain/member/domain/util/TestPasswordEncoder.java
Labels: Entity, VO, hotfix

#14 create Info Entity & VO
  src/main/java/team/backend/goWithMe/domain/info/converter/BooleanToYNConverter.java
  src/main/java/team/backend/goWithMe/domain/info/entity/Article.java
  src/main/java/team/backend/goWithMe/domain/info/entity/Covid.java
  src/main/java/team/backend/goWithMe/domain/info/entity/Info.java
  src/main/java/team/backend/goWithMe/domain/info/enums/DistanceStep.java
  src/main/java/team/backend/goWithMe/domain/info/vo/ArticleContents.java
  src/main/java/team/backend/goWithMe/domain/info/vo/ArticleTitle.java
  src/main/java/team/backend/goWithMe/domain/info/vo/ConfirmCount.java
Labels: Entity, VO

#16 Mate Entity, VO 수정 및 단위테스트 진행
  build.gradle
  src/main/java/team/backend/goWithMe/mate/domain/Mate.java
  src/main/java/team/backend/goWithMe/mate/domain/MateId.java
  src/main/java/team/backend/goWithMe/mate/domain/MateList.java
  src/main/java/team/backend/goWithMe/mate/vo/MateEmail.java
  src/main/java/team/backend/goWithMe/mate/vo/MateNickName.java
  src/main/java/team/backend/goWithMe/mate/vo/MateProfileImg.java
  src/test/java/team/backend/goWithMe/Mate/MateListBuilder.java
  src/test/java/team/backend/goWithMe/Mate/MateTest.java
Labels: Entity, VO

#22 "Favorite domain 추가"
  src/main/java/team/backend/goWithMe/domain/favorite/domain/error/FavoriteBusinessException.java
  src/main/java/team/backend/goWithMe/domain/favorite/domain/error/OverPeriodException.java
  src/main/java/team/backend/goWithMe/domain/favorite/domain/persist/Favorite.java
  src/main/java/team/backend/goWithMe/domain/favorite/domain/persist/FavoriteRepository.java
  src/main/java/team/backend/goWithMe/domain/favorite/domain/vo/Accommodation.java
  src/main/java/team/backend/goWithMe/domain/favorite/domain/vo/FavoriteArrival.java
  src/main/java/team/backend/goWithMe/domain/favorite/domain/vo/FavoritePeriod.java
  src/main/java/team/backend/goWithMe/global/common/BaseTimeEntity.java
  src/test/java/team/backend/goWithMe/domain/favorite/domain/persist/favoriteTest.java
Labels: Entity, VO

#24 "Period 불변 객체로 변경"
  src/main/java/team/backend/goWithMe/domain/favorite/domain/vo/FavoritePeriod.java
Labels: hotfix

#19 TimeTable 엔티티 및 VO 작업 완료
  src/main/java/team/backend/goWithMe/domain/trip/entity/TimeTable.java
  src/main/java/team/backend/goWithMe/domain/trip/exception/TimeTableNameInvalidException.java
  src/main/java/team/backend/goWithMe/domain/trip/exception/TimeTablePeriodInvalidException.java
  src/main/java/team/backend/goWithMe/domain/trip/vo/TimeTableContent.java
  src/main/java/team/backend/goWithMe/domain/trip/vo/TimeTableName.java
  src/main/java/team/backend/goWithMe/domain/trip/vo/TimeTablePeriod.java
  src/test/java/team/backend/goWithMe/domain/trip/entity/TimeTableTest.java
Labels: Entity, VO

#30 Feat.#28modify exception
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserEmail.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserName.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserNickName.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserPassword.java
  src/main/java/team/backend/goWithMe/domain/member/domain/vo/UserProfileImage.java
  src/main/java/team/backend/goWithMe/domain/member/error/UserErrorCode.java
  src/main/java/team/backend/goWithMe/domain/member/error/exception/PasswordMissMatchException.java
  src/main/java/team/backend/goWithMe/domain/member/error/exception/PasswordNullException.java
  src/main/java/team/backend/goWithMe/domain/member/error/exception/UserBusinessException.java
  src/main/java/team/backend/goWithMe/domain/trip/domain/vo/TimeTableName.java
  src/main/java/team/backend/goWithMe/domain/trip/domain/vo/TimeTablePeriod.java
  src/main/java/team/backend/goWithMe/domain/trip/domain/vo/TripArrivalName.java
  src/main/java/team/backend/goWithMe/domain/trip/error/SchedulePeriodInvalidException.java
  src/main/java/team/backend/goWithMe/domain/trip/error/ScheduleTitleInvalidException.java
  src/main/java/team/backend/goWithMe/domain/trip/error/TimeTableNameInvalidException.java
  src/main/java/team/backend/goWithMe/domain/trip/error/TimeTablePeriodInvalidException.java
  src/main/java/team/backend/goWithMe/global/error/CommonErrorResponse.java
  src/main/java/team/backend/goWithMe/global/error/ErrorResponse.java
  src/main/java/team/backend/goWithMe/global/error/GlobalException.java
  src/main/java/team/backend/goWithMe/global/error/exception/BusinessException.java
  src/main/java/team/backend/goWithMe/global/error/exception/CommonErrorCode.java
  src/main/java/team/backend/goWithMe/global/error/exception/EntityNotFoundException.java
  src/main/java/team/backend/goWithMe/global/error/exception/ErrorCode.java
  src/main/java/team/backend/goWithMe/global/error/exception/InvalidValueException.java
Labels: common, VO, hotfix
